body {
	background: url(img/fon.jpg) no-repeat center center fixed;
	webkit-background-size: cover;
	moz-background-size: cover;
	background-size: cover;
	background-size: cover;
}

.container {
	font-size: 20px;
}

p {
	text-indent: 30px;
	text-align: justify;
}

/*-----index.html-----*/

.nav-item a {
	font-size: 100%;
}

@media (min-width: 520px) and (max-width: 768px) {
	.nav-item a {
		font-size: 0.8rem !important;
	}
}

.menu_progressbar img {
	width: 40px;
}

/*-----education.html-----*/
.img_education {
	max-width: 150px;
}


/*-----contacts.html-----*/
.wrap {
	margin: 20% auto;
	width: 550px;
	height: 250px;
	padding: 30px;
	background: #FFFFFF;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 1);
	box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 1);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.wrap hr {
	margin-top: 20px;
}

.main_info {
	margin-top: 20px;
}

.info-text {
	font-weight: 800;
	font-size: 30px;
}

.name-text {
	font-weight: bold;
}

/*-----my_project.html-----*/

.carousel-item {
	height: 350px;
	overflow: hidden;
}